{% extends 'cocon/home.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/search.css' %}">
<link rel="stylesheet" href="{% static 'css/search_results.css' %}">
<script src="https://unpkg.com/htmx.org@1.9.5"></script>
<div id="search">
<div class="container-search">
    <h3>
        <span class="htmx-indicator">
        ...
    </span>
    </h3>
    <form id="search-users-form">
        {% csrf_token %}
        <input class="form-control search-input" type="search"
                name="search" placeholder="Begin Typing To Search..."
                hx-get="/search/results/users/"
                hx-trigger="keyup changed, search"
                hx-target="#search-results"
                hx-indicator=".htmx-indicator">
    </form>
    <form id="search-hashtags-form" style="display: none;">
        {% csrf_token %}
        <input class="form-control search-input" type="search"
                name="search" placeholder="Begin Typing To Search..."
                hx-get="/search/results/hashtags/"
                hx-trigger="keyup changed, search"
                hx-target="#search-results"
                hx-indicator=".htmx-indicator">
    </form>
    <div id="search-categories">
        <button id="search-users">Users</button>
        <button id="search-hashtags">Hashtags</button>
    </div>
</div>

    <div id="search-results" class="results">
        {% include "cocon/search/search_results.html" %}
    </div>
</div>

<script>
    document.getElementById('search-hashtags').addEventListener('click', function() {
        const usersForm = document.getElementById('search-users-form');
        const hashtagForm = document.getElementById('search-hashtags-form');
        const hashtagBut = document.getElementById('search-hashtags');
        const usersBut = document.getElementById('search-users');

        usersForm.style.display = 'none'; 
        usersBut.style.border = 'none'

        hashtagBut.style.border = '2px solid white'
        hashtagForm.style.display = 'block';
    });


    document.getElementById('search-users').addEventListener('click', function() {
        const usersForm = document.getElementById('search-users-form');
        const hashtagForm = document.getElementById('search-hashtags-form');
        const hashtagBut = document.getElementById('search-hashtags');
        const usersBut = document.getElementById('search-users');


        usersForm.style.display = 'block'; 
        usersBut.style.border = '2px solid white'

        hashtagBut.style.border = 'none';
        hashtagForm.style.display = 'none';
    });
</script>
{% endblock %}
