{% extends 'base.html' %}

{% block body %}
<header class="header">
    <div class="container">
        <div class="logo">
            <a href="{% url 'cocon:newsfeed' %}">
                Cogito Connect
            </a>
        </div>
        <div class="user-info">
            {% if user.is_authenticated %}
                <div class="user-name">
                    <a href="{% url 'user:profile' request.user.id%}">{{ request.user.username }}</a>
                </div>
            {% else %}
                <div class="user-actions">
                    <a href="{% url 'user:login' %}">Login</a>
                    <a href="{% url 'user:register' %}">Register</a>
                </div>
            {% endif %}
        </div>
    </div>
</header>

{% block leftmenu %}
{% include 'cocon/left_menu.html' %}
{% endblock %}

<!-- Content Section -->
<div class="content">
    {% include 'post_system/create_post.html' %}
    {% include 'post_system/post_detail.html' %}
    {% block content %}

    {% endblock %}
</div>


{% endblock %}