{% load static %}
<div class="left-menu" id="left-menu">
    <nav class="menu">
        <ul>
            <li><a href="{% url 'cocon:newsfeed' %}"><i class="fa-solid fa-house"></i> Головна</a></li>
            <li><a href="{% url 'cocon:search' %}"><i class="fa-solid fa-magnifying-glass"></i> Пошук</a></li>
            <li><a href="{% url 'cocon:interestings' %}"><i class="fa-solid fa-mug-hot"></i> Цікаве</a></li>
            <li><a href="{% url 'chat_system:chat' %}"><i class="fa-regular fa-comment"></i> Повідомлення 
                {% if unread_chat %}
                <div class="unread-circle">
                    <span class="unread-number">{{unread_chat}}</span>
                </div>
                {% endif %}
            </a></li>
            <li><a href="{% url 'notification_system:notifications' %}"><i class="fa-solid fa-inbox"></i> Сповіщення  
                {% if unread_messages %}
                <div class="unread-circle notif-circle">
                    <span class="unread-number">{{unread_messages}}</span>
                </div>
                {% endif %}
            </a></li>
            <li><a href="#" id="openPostCreate"><i class="fa-solid fa-plus"></i> Створити</a></li>
            <li>
                <a href="{% url 'user:profile' request.user.id%}">
                    <img src="{{request.user.avatar.url}}" alt="" style="width: 30px; height: 30px; border-radius: 50%;">
                    <span>Профіль</span>
                </a>
            </li>
            <li style="margin-top: 270px;" onclick="dropdownMore()" class="dropbtn"><a href="#"><i class="fa-solid fa-bars"></i> Більше</a></li>
        </ul>
        <div id="myDropdown" class="dropdown-content">
            <a href="{% url 'user:update-user-info' request.user.id %}">Налаштування</a>
            <form method="post" action="{% url 'user:logout' %}">
                {% csrf_token %}
                <button type="submit" class="logout-menu-btn">Вийти</button>
            </form>
        </div>
    </nav>
</div>

<script src="{% static 'js/script.js' %}"></script>