{% extends 'cocon/home.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static '/css/profile.css' %}">

<div class="profile-container">
    <header class="profile-header">
        <div class="profile-image">
            <img src="{{user.avatar.url}}" alt="Profile Picture">
        </div>
        <div class="profile-details">
            <div class="profile-username">
                <h1>{{user.username}}</h1>
                {% if user == request.user %}
                <a href="{% url 'user:update-user-info' request.user.id %}" class="edit-profile-button">Редагувати профіль</a>
                {% else %}
                <div class="profile-actions">
                    <form action="{% url 'user:follow' user.id%}" method="post">
                    {% csrf_token %}
                    {% if user_is_followed %}
                        <button class="unfollow-button">Відписатись</button>
                    {% else %}
                        {% if user_profile_is_private %}
                            {% if follow_request %}
                                <button class="follow-button" disabled>Очікує підтвердження</button>
                            {% else %}
                                <button class="follow-button">Підписатись</button>
                            {% endif %}
                        {% else %}
                            <button class="follow-button">Підписатись</button>
                        {% endif %}
                    {% endif %}
                    </form>
                    <a class="message-button" href="{% url 'chat_system:create-chat' user.id %}">Повідомлення</a>
                </div>
                {% endif %}
            </div>
            <ul class="profile-stats">
                <li><span class="stat-number">{{user_posts_count}}</span> публікацій</li>
                <li><span class="stat-number">{{followers}}</span> підписників</li>
                <li><span class="stat-number">{{following}}</span> підписок</li>
            </ul>
            <div class="profile-bio">
                <p>{{user.bio}}</p>
            </div>
        </div>
    </header>
    <section class="profile-gallery">
        {% if user_profile_is_private %}
            {% if user_is_followed %}
                {% if user_posts %}
                    {% for post in user_posts %}
                    <div class="gallery-item"><img src="{{post.content.url}}" alt="Gallery Image 1"></div>
                    {% endfor %}
                {% endif %}
            {% else %}
                <div class="private-profile-sign">
                    <img src="{% static '/img/lock.png' %}" alt="">
                    <h1>Цей профіль приватний</h1>
                </div>
            {% endif %}
        {% else %}
            {% if user_posts %}
                {% for post in user_posts %}
                <div class="gallery-item"><img src="{{post.content.url}}" alt="Gallery Image 1"></div>
                {% endfor %}
            {% endif %}
        {% endif %}
    </section>
</div>
{% endblock %}